@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
      /* @apply bg-gradient */
  }

  h1 {
    @apply text-4xl font-bold text-white md:text-5xl lg:text-7xl 
  }

  a {
    color: inherit;
    text-decoration: none;
  }
  * {
    box-sizing: border-box;
  }

  p {
    @apply m-0 text-2xl font-bold md:text-3xl;
  }

  button {
    @apply w-fit cursor-pointer rounded-lg border-0 bg-purple-951 hover:bg-violet-700 px-6 py-4 text-lg text-white;
  }

  button:focus {
    @apply outline-dotted outline-1;
  }
}

@layer components {
  .glass {
    @apply border border-solid border-[hsla(0,0%,100%,0.2)] bg-gray-951 backdrop-blur-[10px] hover:border hover:border-solid hover:border-white;
  }

  .glass:hover{
    @apply bg-gray-950
  }

  .gradient{@apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500}
}
